[Desktop Entry]
Encoding=UTF-8
Name=Eclipse CDT
Comment=Eclipse's C/C++ Development Tooling
Exec={{install_dir}}/eclipse
Icon={{install_dir}}/icon.xpm
Categories=Application;Development;Java;IDE
Type=Application
Terminal=0
